/* app.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F2EF;
  }
  
  .timer {
    text-align: right;
    font-weight: bold;
  }
  
  .score {
    text-align: left;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    
  }
  
  th, td {
    padding: 10px;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  #btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .button-container button {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .button-container button {
      flex: 0 0 100%;
    }
  }
  
  